/out/*
.idea
/resources/*
GitCode.iml
gradle
build
.gradle
trajectory.csv
trajectoryIMPLICIT_EULER.csv
trajectory4th_RUNGE_KUTTA.csv
trajectorySYMPLECTIC_EULER.csv
trajectoryVELOCITY_VERLET.csv
gradlew
gradlew.bat
